.basket {
    background-color: white;
    width: 500px;
    min-height: 95vh;
    /* padding: 40px; */
    position: absolute;
    top: 2.5vh;
    right: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 90;
    display: flex;
    flex-direction: column;
}

.basket__close-button {
    background-color: rgb(187, 187, 187);
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 4rem;
    height: 4rem;
    border-radius: 0;
}

.basket__close-button--icon {
    color: var(--color-light);
    font-size: 2.4rem;
}

.basket__header {
    color: var(--color-primary);
    font-size: 3.6rem;
    text-align: center;
    text-transform: uppercase;
    padding: 40px 40px 20px 40px;
}

.basket__content {
    flex: 1;
    min-height: 300px;
    max-height: 450px;
    margin: 10px 0;
    padding: 0 40px;
    /* background-color: green; */
    overflow-y: scroll;
}

.basket__summary {
    padding: 20px 40px;
}

.summary__details {
    display: flex;
    justify-content: space-between;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
}

.summary__details--text {
    color: var(--color-primary);
    font-size: 2.6rem;
    font-weight: 600;
}

.summary__button {
    padding: 1.5rem 3rem;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary__button--text {
    font-family: var(--font-primary);
    color: var(--color-light);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
}

.summary__button--icon {
    font-size: 2rem;
    margin-right: 10px;
}

.basket-card {
    /* background-color: red; */
    width: 100%;
    min-height: 140px;
    padding: 10px 0;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 2fr 2.5fr 1fr;
}

.basket-card__image-container {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-card__image {
    max-width: 80%;
    max-height: 120px;
}

.basket-card__details-container {
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;
}

.basket-card__title {
    color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
}

.basket-card__price {
    color: var(--color-primary);
    font-size: 2.4rem;
    font-weight: 900;
    margin-top: 20px;
}

.basket-card__button-container {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-card__delete-button {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-card__delete-button--icon {
    font-size: 2rem;
}


@media only screen and (max-width: 600px) {
    .basket {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
    }
}

@media only screen and (max-width: 500px) {
    .basket__close-button {
        min-width: 3rem;
        height: 3rem;
    }

    .basket__close-button--icon {
        font-size: 2rem;
    }

    .basket__header {
        font-size: 2.6rem;
    }


    .basket-card__title {
        font-size: 1.4rem;
    }


    .summary__details--text {
        font-size: 2rem;
    }

    .summary__button--text {
        font-size: 1.4rem;
        letter-spacing: .1rem;
    }

    .summary__button--icon {
        font-size: 1.6rem;
    }
}