
/* ----- Variables ----- */
:root {
  /* Fonts */
  --font-primary: 'Ubuntu', sans-serif;

  /* Colours */
  --color-primary: rgb(242, 83, 83);
  --color-light: #fff;
  --color-dark: #333;

  --bg-color-light: #fff;
  --bg-color-dark: #333;
}

/* Universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 62.5%;
}

/* Buttons */

button:hover {
  cursor: pointer;
}

.btn-transparent {
  background-color: transparent;
  border: none;
}